@media screen and (orientation: landscape){
   #game{
    width: 90vh; 
    height: 90vh;
   } 
}
@media screen and (orientation: portrait){
    #game{
     width: 90vw; 
     height: 90vw;
    } 
 }
html { 
    font-size: 100% /* =16px */
}
#game{
    background:beige;
}


#who{
   text-align: center;

}
.cross{
    background: url(cancel.svg) no-repeat;
    width: auto; /* ширина картинки */
    height: 100%; /* высота картинки */
}
.round{
    background: url(circle.svg) no-repeat;
    width: 100%; /* ширина картинки */
    height: auto; /* высота картинки */
}